<!DOCTYPE html>
<html>
    <head>
        <style>
            .main p label {
                width: 70px;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <p>
                <label>start date:</label>
                <input id="startDate" placeHolder="YYYY-mm-dd" type='text' />
            </p>
            <p>
                <label>end date:</label>
                <input id="endDate" placeHolder="YYYY-mm-dd" type='text' />
            </p>  
            <p>
                <label>days:</label>
                <span id="result"></span>
            </p>

            <button id="okBtn">ok</button>
            <button id="clearBtn">clear</button>
        </div>
        <script>
            document.getElementById('okBtn').onclick = function(){
                var sd = document.getElementById('startDate').value;
                var ed = document.getElementById('endDate').value;

                var sd_ts = new Date(sd).getTime();
                var ed_ts = new Date(ed).getTime();
                var result;

                if (sd_ts === sd_ts && ed_ts === ed_ts && ed_ts > sd_ts) {
                    result = (ed_ts - sd_ts) / 86400000;
                }
                else {
                    result = "R U Serious? :(";
                }

                document.getElementById('result').innerHTML = result;
            }
            document.getElementById('clearBtn').onclick = function(){
                document.getElementById('startDate').value = '';
                document.getElementById('endDate').value = '';
                document.getElementById('result').innerHTML = '';
            }
        </script>
    </body>
</html>
