<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Firework!!</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="http://127.0.0.1:8081/socket.io/socket.io.js"></script> -->
    <script type="text/javascript">
      // var socket = io('http://' + location.hostname + ':8081');
      var socket = io('http://' + location.hostname);

      var global = {};
      window.onresize = resize;
  
      function resize(resizeNum) {
          var winW = window.innerWidth;
          document.getElementsByTagName('html')[0].style.fontSize = winW * 100 / 750 + 'px';
          if (winW > window.screen.width && resizeNum <= 10) {
              setTimeout(function () {
                  resize(++resizeNum);
              }, 100);
          } else {
              document.getElementsByTagName('html')[0].style.opacity = 1;
          }
      }
      resize(0);

      // window.permission = true;
  </script>
  </head>
  <body>
    <div id="sg"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
